body {
	margin: 0;
	font-family: 'Merriweather Sans', sans-serif;
}

img {
	width: 100%;
	height: auto;
	margin: 1rem;
}



.grid {
	display: grid;
	grid-template-columns: [start] 2fr [col2] 2fr [col3] 0.5fr [end];
	grid-auto-rows: minmax(200px, auto);
	width: 100%;
	grid-gap: 0.5rem;
}

.top-panel {
	width: 100%;f
	height: 4rem;
	background: radial-gradient(circle, #44004f, #2e0035, #160019);
	position: fixed;
	top: 0px;
	opacity: 0.7;
}

.navigation-menu {
	display: flex;
	margin: 0;
	justify-content: center;
	height: 4rem;
}

.navigation-menu .cv-download {
	width: 12rem;
	margin-left: 6rem;
}

.cv-download > a {
	text-decoration: none;
	color: #707c02;
}

.navigation-menu > li {
	display: block;
	border: solid 1px black;
	width: 8rem;
	color: #707c02;
	text-align: center;
	padding-top: 1.2rem;
	font-size: 1rem;
	font-family: 'Lobster', cursive;
	border-radius: 1rem;
	margin-right: 1rem;
}

.navigation-menu > li:hover {
	background-color: #93009b;
	color: #b6c904;
	border-width: 2.0px;
}

#dropdown {
	height: 11.3rem;
	border-width: 0;
	padding-top: 0;
}

#dropdown > section {
	margin-bottom: 0;
	margin-top: 0;
	border: solid 1px black;
	border-radius: 1rem;
	display: block;
	height: 2.7rem;
	padding-top: 1.2rem;
}

.dropdown-content {
	display: none;
}

#dropdown:hover .dropdown-content {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;

}


.dropdown-content > div {
	padding-top: 0.35rem;
	border-bottom: solid 1px black;
	padding-bottom: 0.3rem;
	border-radius: 0.8rem;
	background: radial-gradient(circle, #44004f, #2e0035, #160019);
}

.dropdown-content > div:hover {
	border: solid 2px #04ff00;
	color: #04ff00;
	border-width: 2.0px;
	opacity: 1;
}

.grid .image {
	grid-column: start/col3;
	grid-row: 1/6;
	background-image: url(coffe.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
	opacity: 0.7;
}

.grid .right-panel {
	grid-column: col3/end;
	grid-row: 1/6;
	background: radial-gradient(circle,#dbdbdb, #bcbcbc, #878787);
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

.right-panel > h2{
	padding: 1rem;
	margin-top: 30%;
	text-align: center;


}

.grid .about-me {
	grid-column: start/end;
	background: radial-gradient(circle,#dbdbdb, #bcbcbc, #878787);
}

.about-me .about-me-content {
	display: flex;
	flex-flow: row wrap;
	height: auto;
	background: white;
	margin: 2rem;
	justify-content: space-around;
}

.about-me-content > div {
	width: 35%;
	font-size: 1.5rem;
}

.text-1 {
	background-color: #b6c904;
	top: 20%;
	left: 10%;
	width: 600px;
	height: auto;
	position: absolute;
	border-radius: 5px;
	font-size: 2rem;
	padding: 1rem;
}

.link:hover {
	opacity: 0.8;
}

@media all and (max-width: 800px) {
	.grid .image {grid-column: start/end; grid-row: 1/6;}
	.grid .right-panel {
		grid-column: start/end;
		grid-row: 6/7;
		flex-flow: row wrap;
	}

	.right-panel .link {flex: 46%; padding: 2%;}
	.right-panel > h2 {width: 100%; margin-top: 4%;}
	.grid .about-me {grid-column: start/end; grid-row: 7/8;}
	.text-1 {width: 70%; font-size: 1.4rem; top: 13%;}
	.navigation-menu .cv-download {margin-left: 0;}
	.about-me-content > div {font-size: 1rem; width: auto;}
}