html {
	font-family: 'Concert One', cursive;
}

#header {
	font-family: 'Concert One', cursive;
	padding: 1rem 1rem 2rem 1rem;
}

#carouselId {
	margin-right: 6%;

}

#cvSection {
	margin-left: 6%

}

.hvr:hover {
	color: red;
}

#circle {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: auto;
	border-style: dashed;
	border-width: 2px;
	border-color: red;
}