  .b{
    height: 47px;
    background-color: #e8e8e8;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
.b2{
  float: right;
  margin-left: 10px;
}
.b1{
  float: left;
  margin-right: 10px;

}
.b1, .b2{
  color: #848181;
  text-decoration: none;
  margin: 19px;
  font-size: 12px;
}

.b1:hover,.b2:hover{
  text-decoration: underline;
}
.cv{
  margin-top: 30px;
  width: 10%;
  height:30px;
  margin-left: auto;
  margin-right: auto;

}
.lol,.hup{
  display: inline;
  font-size: 13px;
  font-weight: lighter;
}
.logo{
display: block;
margin-top: 160px;
margin-right: auto;
margin-left: auto;
width: 300px;
}
.search{
  display: block;
  width: 26%; height: 36px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  border-radius: 0;
  border-color: #eaecef;
  border-style: solid;
  padding: 3px 20px;
  min-width: 300px;

box-shadow: 1px 1px 0.5px 0.5px #888
}
input:hover
{
    box-shadow: 2px 2px 1px 1px #888;
    color: #000;
    
  }
.butt{
display: block;
margin-top: 30px;
width: 315px;
height: 40px;
left: 45%;
margin-right: auto;
margin-left: auto;
}
.button1,.button2{
    top: 420px;
    width: 150px;
    height: 40px;
}
.button1{
  float: left;
}
.button2{
  float: right;
}

button{
    border-radius: 0px;
    background-color: #e8e8e8;
    height: 40px;
    width: 150px;
    border-style: solid;
}

    
  button:hover
  {
        border-color: #888;
    color: #000;
  }
  .hup{
color: blue;
text-decoration: none;
  }
  .hup:hover,.r1:hover,.r2:hover{
    text-decoration: underline;
  }
  .r3{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  background-image: url(op1.svg);
  float: right;  
}
  .r3:hover{
    background-image: url(op2.svg);
  }


  .pasek{
    float: right;
    margin-top: 10px;
    height: 20px;
  }
 .r1,.r2{
    color: black;
    text-decoration: none;
    font-size: 13px;
    margin-left: 15px;
    display:inline;
 }
 .r4{
  width: 25px;
  height: 25px;
  margin-left: 15px;
  background-image: url(not2.svg);
  float: right;  
 }
   .r4:hover{
    background-image: url(not1.svg);}
     .r5{
  width: 33px;
  height: 33px;
  margin-left: 15px;
  background-image: url(ico.svg);
  margin-top: 6px;
  float: right; }
  .r3,.r4{margin-top: 10px}